$tab: 960px;
$sp: 560px;
$sp-s: 376px;

@mixin pc-s {
	@media (min-width: 961px) and (max-width: 1440px){
		@content;
	}
}
@mixin tab {
	@media (max-width: $tab) {
		@content;
	}
}
@mixin sp {
	@media (max-width: $sp) {
		@content;
	}
}
@mixin sp-s {
	@media (max-width: $sp-s) {
		@content;
	}
}
