@charset "UTF-8";
.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }
  .contact-page .header-inner {
    max-width: 830px; }
  .contact-page main {
    margin-bottom: 80px; }
  .contact-page .title,
  .contact-page form {
    max-width: 830px;
    margin: auto;
    padding: 0 80px; }
    @media (max-width: 960px) {
      .contact-page .title,
      .contact-page form {
        padding: 0 10px; } }
  .contact-page .title {
    font-size: 3.2rem;
    margin: 50px auto; }
    @media (max-width: 960px) {
      .contact-page .title {
        font-size: 2.8rem; } }
    @media (max-width: 560px) {
      .contact-page .title {
        font-size: 2.2rem; } }
  .contact-page .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; }
    @media (max-width: 960px) {
      .contact-page .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contact-page .label {
    width: 35%;
    display: inline-block;
    font-size: 1.6rem;
    padding: 10px 20px;
    border-left: 8px #41487e solid;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    @media (max-width: 960px) {
      .contact-page .label {
        width: 100%;
        padding: 10px; } }
  .contact-page input[type="text"], .contact-page input[type="email"] {
    padding: 10px; }
    @media (max-width: 960px) {
      .contact-page input[type="text"], .contact-page input[type="email"] {
        height: 30px; } }
    .contact-page input[type="text"]::-webkit-input-placeholder, .contact-page input[type="email"]::-webkit-input-placeholder {
      color: #eee;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .contact-page input[type="text"]:-ms-input-placeholder, .contact-page input[type="email"]:-ms-input-placeholder {
      color: #eee;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .contact-page input[type="text"]::-ms-input-placeholder, .contact-page input[type="email"]::-ms-input-placeholder {
      color: #eee;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .contact-page input[type="text"]::placeholder, .contact-page input[type="email"]::placeholder {
      color: #eee;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .contact-page input[type="text"]:focus::-webkit-input-placeholder, .contact-page input[type="email"]:focus::-webkit-input-placeholder {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
      opacity: 0; }
    .contact-page input[type="text"]:focus:-ms-input-placeholder, .contact-page input[type="email"]:focus:-ms-input-placeholder {
      transform: translateX(30px);
      opacity: 0; }
    .contact-page input[type="text"]:focus::-ms-input-placeholder, .contact-page input[type="email"]:focus::-ms-input-placeholder {
      transform: translateX(30px);
      opacity: 0; }
    .contact-page input[type="text"]:focus::placeholder, .contact-page input[type="email"]:focus::placeholder {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
      opacity: 0; }
  .contact-page input[type="radio"] {
    display: none; }
    .contact-page input[type="radio"] + label {
      padding-left: 20px;
      margin-right: 20px;
      position: relative; }
      .contact-page input[type="radio"] + label:before {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #999;
        border-radius: 50%; }
    .contact-page input[type="radio"]:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 4px;
      width: 9px;
      height: 9px;
      background: #41487e;
      border-radius: 50%; }
  .contact-page input[type="checkbox"] {
    display: none; }
    .contact-page input[type="checkbox"] + label {
      padding-left: 20px;
      margin-right: 20px;
      position: relative; }
      @media (max-width: 560px) {
        .contact-page input[type="checkbox"] + label {
          margin-right: 10px; } }
      @media (max-width: 376px) {
        .contact-page input[type="checkbox"] + label {
          padding-left: 16px;
          margin-right: 5px; } }
      .contact-page input[type="checkbox"] + label:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #999; }
    .contact-page input[type="checkbox"]:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 5px;
      width: 6px;
      height: 13px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      border-bottom: 3px solid #41487e;
      border-right: 3px solid #41487e; }
  .contact-page .btn-area {
    text-align: center; }
    .contact-page .btn-area input[type="submit"] {
      border-style: none;
      border-radius: 5px;
      padding: 10px 30px;
      background: #41487e;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      -webkit-transition: 300ms;
      transition: 300ms; }
      .contact-page .btn-area input[type="submit"]:hover {
        background: #1f275e; }
  .contact-page .inputs {
    width: 75%;
    border-radius: 5px; }
    @media (max-width: 960px) {
      .contact-page .inputs {
        width: 100%; } }
  .contact-page .comment {
    height: 46px; }
  .contact-page label {
    font-size: 1.5rem; }
    @media (max-width: 960px) {
      .contact-page label {
        margin-bottom: 20px; } }
  .contact-page .radio {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px; }
    @media (max-width: 960px) {
      .contact-page .radio {
        width: 100%; } }
    .contact-page .radio input {
      margin-left: 30px; }
      @media (max-width: 960px) {
        .contact-page .radio input {
          margin-left: 0; } }
    @media (max-width: 960px) {
      .contact-page .radio label {
        margin-bottom: 0;
        font-size: 1.4rem; } }
  .contact-page select,
  .contact-page .file {
    margin-left: 30px;
    padding-top: 10px; }
    @media (max-width: 960px) {
      .contact-page select,
      .contact-page .file {
        margin-left: 0; } }
  @media (max-width: 960px) {
    .contact-page .impressions .label {
      margin-bottom: 20px; } }
  .contact-page .impressions select {
    width: 155px;
    font-size: 1.4rem; }
  .contact-page footer {
    margin-top: auto; }
  .contact-page .title {
    text-align: center; }
  .contact-page textarea {
    padding: 10px; }

.thanks-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  .content-box h2 {
    font-size: 2.8rem;
    margin-bottom: 60px; }
  .content-box p {
    font-size: 1.6rem;
    margin-bottom: 30px; }
  .content-box a {
    font-size: 1.6rem;
    color: #41487e; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto; }

/* --------------------

初期設定

----------------------- */
body {
  font-family: "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfe1fc));
  background: linear-gradient(#fff 0%, #cfe1fc 100%);
  background-repeat: no-repeat; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* --------------------

トップページ

----------------------- */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff; }
  header .logo img {
    width: 150px;
    height: auto; }
    @media (max-width: 560px) {
      header .logo img {
        width: 125px; } }

.header-inner,
.main-inner {
  max-width: 770px;
  margin: auto;
  padding: 0 20px; }
  @media (max-width: 560px) {
    .header-inner,
    .main-inner {
      padding: 0 10px; } }

.header-inner {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-inner h2 {
  font-size: 2.6rem; }
.main-inner p {
  font-size: 1.5rem;
  line-height: 1.6; }

.article-section {
  margin-bottom: 40px; }

.visual-box {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-bottom: 55px; }
  @media (max-width: 960px) {
    .visual-box {
      height: 60vh; } }

.main-visual {
  position: absolute;
  background-image: url(img/nettaigyo.jpg);
  width: 100vw;
  height: 100vh;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 960px) {
    .main-visual {
      height: 60vh; } }

.color-box {
  position: absolute;
  width: 40vw;
  height: 50vh;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 2;
  background: #1205f2;
  opacity: 0.8; }
  @media (max-width: 960px) {
    .color-box {
      width: 100vw;
      height: 80px;
      top: auto;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }

.copy {
  position: absolute;
  width: 680px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
  z-index: 3;
  color: #fff;
  font-size: 10rem;
  font-weight: bold; }
  @media (min-width: 961px) and (max-width: 1440px) {
    .copy {
      width: 537px;
      font-size: 8rem; } }
  @media (max-width: 960px) {
    .copy {
      width: 80vw;
      text-align: right;
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      -webkit-transform: translate(0, -60%);
              transform: translate(0, -60%);
      font-size: 6.5rem; } }
  @media (max-width: 560px) {
    .copy {
      width: 100vw;
      font-size: 5.5rem;
      text-align: center;
      -webkit-transform: translate(0, -20%);
              transform: translate(0, -20%); } }
  @media (max-width: 376px) {
    .copy {
      font-size: 4.5rem;
      -webkit-transform: translate(0, -40%);
              transform: translate(0, -40%); } }

.price-wrapper p {
  margin-bottom: 20px; }
.price-wrapper table,
.price-wrapper th,
.price-wrapper td {
  border-collapse: collapse;
  border: 1px solid black; }
.price-wrapper table {
  width: 100%; }
.price-wrapper th,
.price-wrapper td {
  padding: 15px; }
.price-wrapper th {
  font-size: 1.8rem;
  width: 35%;
  background: #6f8ec9;
  color: #eee; }
.price-wrapper td {
  font-size: 1.6rem;
  background: #fff; }

.notice-wrapper li {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 10px; }
  @media (max-width: 560px) {
    .notice-wrapper li {
      font-size: 1.4rem; } }

.article {
  margin-bottom: 55px; }

.footer-inner {
  max-width: 770px;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer-inner small {
    font-size: 1.3rem; }

.article-title {
  background-image: url(img/niconico_bg_blue.png);
  padding: 15px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.3rem;
  font-weight: normal;
  line-height: 1.2; }

.article-section {
  -webkit-transition: .5s;
  transition: .5s; }
  @media (max-width: 560px) {
    .article-section .article-title {
      font-size: 2.0rem; } }
  .article-section:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .article-section:hover img {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2); }
  .article-section figure {
    display: block;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    @media (max-width: 560px) {
      .article-section figure {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%; } }
    .article-section figure img {
      width: 200px;
      height: 200px;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: .5s;
      transition: .5s; }
      @media (max-width: 560px) {
        .article-section figure img {
          width: 100%; } }
  .article-section:nth-of-type(2) img {
    -o-object-position: 0 -30px;
       object-position: 0 -30px; }
    @media (max-width: 560px) {
      .article-section:nth-of-type(2) img {
        -o-object-position: 0 -180px;
           object-position: 0 -180px; } }
  @media (max-width: 560px) and (max-width: 376px) {
    .article-section:nth-of-type(2) img {
      -o-object-position: 0 -80px;
         object-position: 0 -80px; } }

  .article-section:nth-of-type(3) img {
    -o-object-position: -60px -10px;
       object-position: -60px -10px; }
    @media (max-width: 560px) {
      .article-section:nth-of-type(3) img {
        -o-object-position: 0px -10px;
           object-position: 0px -10px; } }
  .article-section p {
    width: 70%; }

.article-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background: #fff; }
  @media (max-width: 560px) {
    .article-body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .article-body p {
        font-size: 1.4rem;
        width: 100%; } }

.price,
.notice {
  margin-bottom: 55px; }
  .price h2,
  .notice h2 {
    padding: 15px 0 15px 10px;
    border-width: 0 0 1px 5px;
    border: solid #000;
    border-width: 0 0 1px 8px;
    border-left: 10px solid #6f8ec9;
    margin-bottom: 20px; }
    @media (max-width: 560px) {
      .price h2,
      .notice h2 {
        padding: 10px 0 10px 10px;
        font-size: 2.0rem; } }

.notice-wrapper ul {
  padding-left: 10px; }
  .notice-wrapper ul li {
    list-style-type: none;
    position: relative;
    padding-left: 13px; }
    .notice-wrapper ul li:after {
      display: block;
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #6f8ec9; }

.global-nav {
  position: relative;
  width: 200px;
  height: 45px; }
  @media (max-width: 560px) {
    .global-nav {
      width: 150px; } }
  .global-nav a {
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    background: #e6dd01;
    color: #41487e;
    text-align: center;
    font-size: 1.5rem;
    -webkit-box-shadow: 0 5px 0 #aaa;
            box-shadow: 0 5px 0 #aaa; }
    @media (max-width: 560px) {
      .global-nav a {
        width: 150px;
        padding: 12px 0; } }
    .global-nav a:hover {
      position: absolute;
      top: 3px;
      left: 0;
      -webkit-box-shadow: none;
              box-shadow: none; }

/*# sourceMappingURL=style.css.map */