/* --------------------

初期設定

----------------------- */

body {
	font-family: "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
	background: linear-gradient(#fff 0%, #cfe1fc 100%);
}

/* --------------------

トップページ

----------------------- */

header {
	.logo {
		img {
			width: 150px;
			height: auto;
		}

	}
}

.header-inner,
.main-inner {
	max-width: 770px;
	margin: auto;
	padding: 0 20px;
}

.header-inner {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.main-inner {
	h2 {
		font-size: 2.6rem;
	}

	p {
		font-size: 1.5rem;
		line-height: 1.6;
	}
}

.article-section {
	margin-bottom: 40px;

}
.visual-box {
	position: relative;
	width: 100vw;
	height: 60vh;
	margin-bottom: 55px;
	display: flex;
	align-items: center;
}
.main-visual {
	position: absolute;
	background-image: url(img/nettaigyo.jpg);
	width: 100vw;
	height: 60vh;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.color-box {
	position: absolute;
	width: 40vw;
	height: 50vh;
	left: 0;
	z-index: 2;
	background: #1205f2;
	opacity: 0.8;
}
.copy {
	position: absolute;
	width: 680px;
	top: 50%;
	left: 50%;
	transform: translate(-80%,-50%);
	z-index: 3;
	color: #fff;
	font-size: 10rem;
	font-weight: bold;
}
.price-wrapper {
	p {
		margin-bottom: 20px;
	}

	table,
	th,
	td {
		border-collapse: collapse;
		border: 1px solid black;
	}

	table {
		width: 100%;
	}

	th,
	td {
		padding: 15px;
	}

	th {
		font-size: 1.8rem;
		width: 150px;
		background: #eee;
	}

	td {
		font-size: 1.6rem;
		background: #fff;
	}
}

.notice-wrapper {
	li {
		font-size: 1.6rem;
		line-height: 1.6;
		margin-bottom: 10px;
	}
}

.article {
	margin-bottom: 55px;
}
.footer-inner {
	max-width: 770px;
	height: 100px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	small {
		font-size: 1.3rem;
	}
}

.article-title {
	background-image: url(img/niconico_bg_blue.png);
	padding: 15px;
	text-align: center;
	color: #fff;
	letter-spacing: 0.3rem;
	font-weight: normal;
	line-height: 1.2;
}

.article-section {
	transition: .5s;
	&:hover {
		box-shadow: 0 0 10px rgba(0,0,0,.5);
		img {
			transform: scale(1.2,1.2);
		}
	}
	figure {
		display: block;
		margin-right: 20px;
		width: 200px;
		height: 200px;
		overflow: hidden;
		img {
			width: 200px;
			height: 200px;
			object-fit: cover;
			transition: .5s;
		}

	}

	&:nth-of-type(2) {
		img {
			object-position: 0 -30px;
		}
	}

	&:nth-of-type(3) {
		img {
			object-position: -60px -10px;
		}
	}
	p {
		width: 70%;
	}
}

.article-body {
	display: flex;
	padding: 20px;
	background: #fff;
}

.price,
.notice {
	margin-bottom: 55px;

	h2 {
		padding: 15px 0 15px 10px;
		border-width: 0 0 1px 5px;
		border: solid #000;
		border-width: 0 0 1px 8px;
		border-left: 8px solid #6f8ec9;
	}
}

.notice-wrapper {
	li {
		list-style-position: inside;
	}
}

.global-nav {
	position: relative;
	width: 200px;
	height: 45px;

	a {
		display: inline-block;
		width: 200px;
		padding: 15px 0;
		background: #e6dd01;
		color: #41487e;
		text-align: center;
		font-size: 1.5rem;
		box-shadow: 0 5px 0 #aaa;

		&:hover {
			position: absolute;
			top: 3px;
			left: 0;
			box-shadow: none;
		}
	}
}
